<div>
    <h3>{{form.def.id}} - {{form.def.nombre}}</h3>
    <div ng-repeat="grupo in form.def.grupos">
        <h4 ng-show="grupo.nombre">{{grupo.nombre}}</h4>
        <div ng-repeat="campo in grupo.campos" ng-hide="grupo.mostrar.ocultar">
            <label>{{campo.nombre}}</label>
            <span ng-switch="campo.tipo">
                <input ng-switch-when="texto" type="text" ng-model="form.resp[grupo.id][campo.id]"></input>
                <input ng-switch-when="num" type="number" ng-model="form.resp[grupo.id][campo.id]"></input>
                <select ng-switch-when="sel" ng-model="form.resp[grupo.id][campo.id]">
                    <option ng-repeat="op in campo.valores" value="{{op.val}}">{{op.texto}}</option>
                </select>
            </span>
        </div>
    </div>
    <h4>Respuestas</h4>
    <div ng-bind="form.toString(form.resp)"></div>
</div>
